:root {
   /* background */
   --c-dark: #1C2E3D;
   --c-light: #fff;
   --c-accent: #E8594E;
   --c-accent-hover: #e73528;

 
    --c-light-blue: #73AFBA;
    --c-light-blue-hover: #42aabd;
   // --c-grey-blue: #4a5771;
   // --c-grey-light: #f1f2f2;
   // --c-grey: #bcc1d2;
 
   // /* modals */
   // --modal-bgd-dark: rgba(20, 29, 45, 0.8);
 
   // /* text */
   // --txt-c-dark: var(--c-dark);
   // --txt-c-grey: #4f5b70;
   // --txt-c-grey-light: var(--c-grey-light);
   // --txt-c-accent: var(--c-accent);
   // --txt-c-light: var(--c-light);
 
   // /* font */
   // --font-main: "Acrom", sans-serif;
 
   // /* container width */
   // --vertical-scroll: 20px;
   // --mobile: calc(300px + var(--vertical-scroll));
   // --tablet: calc(640px + var(--vertical-scroll));
   // --desktop: calc(900px + var(--vertical-scroll));
   // --desktop-lg: calc(1146px + var(--vertical-scroll));
 
   // /* animation */
   // --animation-fast: 0.1s;
   // --animation-slow: 0.3s;
 }