@font-face {
  font-family: "FontAwesome";
  font-display: swap;
  src: url("../fonts/FontAwesome.woff") format("woff"), url("../fonts/FontAwesome.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-black.woff") format("woff"), url("../fonts/gilroy-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-heavy.woff") format("woff"), url("../fonts/gilroy-heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 20px;
  font-family: "Gilroy", sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 10px 0px;
}

.top-header__column:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.top-header__column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__logo {
  margin-right: 26px;
}

.top-header__logo-subtitle {
  padding-left: 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #5D5D5D;
  border-left: 2px solid #89AFEF;
}

.top-header__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header__social-list li {
  margin-right: 18px;
}

.top-header__social-list li:last-child {
  margin-right: 0;
}

.top-header__social-link {
  position: relative;
  border-radius: 50%;
  display: block;
  width: 43px;
  height: 43px;
}

.whatsap__link {
  background-color: #2DD038;
  -webkit-box-shadow: 2px 3px 17px -1px rgba(45, 208, 56, 0.58);
          box-shadow: 2px 3px 17px -1px rgba(45, 208, 56, 0.58);
}

.whatsap__link:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background: url(../img/header/whatsapp-logo.svg) center no-repeat;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.viber__link {
  background-color: #7B519D;
  -webkit-box-shadow: 2px 1px 17px -1px rgba(123, 81, 157, 0.58);
          box-shadow: 2px 1px 17px -1px rgba(123, 81, 157, 0.58);
}

.viber__link:after {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  background: url(../img/header/viber-logo.svg) center no-repeat;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.telegram__link {
  background-color: #5BBAF0;
  -webkit-box-shadow: 2px 1px 17px -1px rgba(91, 186, 240, 0.58);
          box-shadow: 2px 1px 17px -1px rgba(91, 186, 240, 0.58);
}

.telegram__link:after {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  background: url(../img/header/telegram.svg) center no-repeat;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top-header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 30px;
}

.top-header__phone {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  padding-left: 30px;
  margin-bottom: 5px;
}

.top-header__phone:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  background: url(../img/header/call-answer.svg) center no-repeat;
}

.top-header__mail {
  position: relative;
  font-weight: 500;
  font-size: 17px;
  color: #333333;
  padding-left: 30px;
  margin-bottom: 5px;
}

.top-header__mail:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  background: url(../img/header/mail.svg) center no-repeat;
}

@media (max-width: 992px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 10;
  }

  .header__burger span {
    position: absolute;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    background-color: #fff;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    background-color: #fff;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #068292;
    padding: 30px 10px 20px 10px;
    z-index: 2;
  }

  .header__menu.active {
    left: 0px;
  }

  .header__menu {
    display: block;
  }
}